<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Page</title>
</head>
<body><!-- 7:30-->
  <h1>About App</h1>
  <h3>This web app was created by Jarrad Lovelace.</h3>
  <!-- //tell what this app does and its purpose and my contact info. -->
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/api/games">Games Passed</a></li>
    <li><a href="/api/games">Add Game</a></li>
    <li><a href="/api/ratings">Rating System</a></li>  
  </ul>
</body>
</html>